body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #101010
}
.login-container {
    width: 300px;
    padding: 20px;
    background-color: #202020;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

label {
    cursor: default;
    color: white;
    padding-bottom: 10px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 280px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #202020;
    border: 1px solid #ccc;
    border-color: gray;
    border-radius: 5px;
    color: white;
}
.login-container button {
    width: 300px;
    padding: 10px;
    background-color: #1ed760;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-container button:hover {
    background-color: rgba(43, 172, 43, 0.5);;
}

.login-container:hover {
    background-color: #303030;
    box-shadow: 0 0 30px 5px rgba(43, 172, 43, 0.5);
    cursor: pointer;
}

a {
    padding-left: 85px;
    padding-top: 30px;
    color: white;
}